[submodule "Universal_Robots_ROS_Driver"]
	path = Universal_Robots_ROS_Driver
	url = https://github.com/UniversalRobots/Universal_Robots_ROS_Driver.git
[submodule "universal_robot"]
	path = universal_robot
	url = git@github.com:vinceHuyghe/universal_robot.git
[submodule "trajectory_tools"]
	path = trajectory_tools
	url = git@github.com:vinceHuyghe/trajectory_tools.git
[submodule "rqt_joint_trajectory_plot"]
	path = rqt_joint_trajectory_plot
	url = git@github.com:tork-a/rqt_joint_trajectory_plot.git
